<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>

 <body class="<%= theme==='dark' ? 'dark' : '' %>">
    <h1>Quora Posts</h1>

    <a href="/toggle-theme">
      <button>
        <%= theme==='dark'? '✦ Light Mode' :'⏾ Dark Mode' %>
      </button>
    </a>
    <br><br>
 

 
    <%  for(post of posts){ %>
    <div class="post">

      <img src="<%= post.profilePic %>" class="pimg">

      
      <div class="contentbody">
        <h3 class="user">@<%= post.username %></h3>
        <h4 class="content"> <%= post.content %></h4>
        
        <img src="<%= post.image %>" >
        
        <br>
        <a href="http://localhost:3000/posts/<%=post.id %>">See in Detail</a> 
        
        <a href="http://localhost:3000/posts/<%=post.id %>/edit">Edit</a>

         
        <form action="http://localhost:3000/posts/<%=post.id%>?_method=DELETE" method="post">
          <br>
          <button>Delete post </button>
        </form>
      </div>
      
      <div class="multiImages">
        <% if (post.images && post.images.length>0) { %>
          <% post.images.forEach(img => { %>
            <img src="<%= img %>" class="postImage" style="width:30%; height: auto;">
          <% }) %>
        <% } %>
     </div>
      <br>

        
     
    </div>

    
    
    <%  } %>

    <br   />
    <br  />
    
    <a href="http://localhost:3000/posts/new">Create New Post</a>

    


 </body>
</html>



